@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&display=swap');

:root {
  --violet: hsl(263, 55%, 52%);
  --grayish-blue: hsl(217, 19%, 35%);
  --blackish-blue: hsl(219, 29%, 14%);
  --white: hsl(0, 0%, 100%);
  --light-gray: hsl(0, 0%, 81%);
  --light-grayish-blue: hsl(210, 46%, 95%);
  --barlow: "Barlow Semi Condensed", san-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.cards {

}

.card__image {
  border-radius: 50%;
  border: 2px solid var(--light-grayish-blue);
}

.card__name {

}

.card_grad {

}

.card__header {

}

.card__testimonial {

}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
